<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.lrepafi.quizgame" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".SplashScreenActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".MainMenuActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".QuestionActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".ScoresActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".SettingsActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".CreditsActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".HelpActivity" android:label="@string/app_name">
		</activity>

		<activity android:name=".LocalScoreTab" />
		<activity android:name=".ServerScoreTab" />


	</application>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>